

.plot-spin-vector .circle {
  stroke:black;
  stroke-width: 1;
}

.plot-spin-vector .vector {
  stroke: black;
  stroke-width: 1;
}

.plot-spin-vector .vector.arrowhead{
  stroke: black;
  stroke-width: 0;
}

.plot-spin-vector .vector.sum {
  stroke: magenta;
  stroke-width: 1;
}

.plot-spin-vector .sum.arrowhead {
  fill: magenta;
  stroke-width: 0;
}

.line_real {
  fill: none;
  stroke: #ff0000;
  stroke-width: 1;
}

.line_real.arrowhead  {
  fill:#ff0000;
  stroke-width:0;
}

.line_imag {
    fill: none;
    stroke: #0000ff;
    stroke-width: 1;
}

.line_imag.arrowhead  {
  fill:#0000ff;
  stroke-width:0;
}

.line_processing {
    fill: none;
    stroke: #00ff00;
    stroke-width: 1;
}

.spins .param {
  width: 40px;
}

.plot-time-domain {
  overflow:hidden;
}

.plot-freq-domaim {
  overflow: hidden;
}

.plot-spin-vector {
  overflow: hidden;
}

fieldset {
  margin: 6px;
  padding: 4px;
}


input[type='text'] {
  margin:2px;
  width:45px;
}

.spins .parameters {
  width:36%;
  float: left;
}

.plot-spin-vector {
  width:60%;
  float: left;
}

.mouse-line {
  stroke: black;
  stroke-width: 1px;
}

.window {
  display:none;
}

.parameter-input {
  float: left;
  width: 45%;
}

.plots {
  float:left;
  width: 55%;
}


body { 
  width: 100%;
  max-width: 1100px;
  margin: auto;
  background-color: #ffffdd;
}

.acqu-proc-div {
  width:100%;
}

.acquisitionParameters {
  width:45%;
  float:left;
}

.processingParameters {
  width:45%;
  float:left;
}

.window img {
  display:block;
  padding-top:10px;
  /*height:20px;*/
  margin-left:auto;
  margin-right:auto;
}



#slider-bar {
  width:70%;
  margin:6px;
}

.slider {
  width:95%;
  float:bottom;
}


label {
  font-size: 11pt;
}


h1 {
  margin: 10px;
  font-size: 20pt;
}






















